
.cs_tab_inactive { padding:2;background-color:#C0C0C0;cursor:pointer;cursor:hand;font-size:14;font-family:"MS Sans Serif",Verdana,Geneva,sans-serif; }
.cs_tab_active	{ padding:2;background-color:#FFFFFF;cursor:pointer;cursor:hand;font-size:14;font-family:"MS Sans Serif",Verdana,Geneva,sans-serif;font-weight:bold;color:#004080; }
.cs_tab_background { padding:2; background-color:#FFFFFF;cursor:pointer;cursor:hand;font-size:14;font-family:"MS Sans Serif",Verdana,Geneva,sans-serif;font-weight:bold;color:#004080; }
.cs_default_form { padding:0; margin:0; }
.CS_Default_GhostText { text-decoration:none;color:#808080;cursor:pointer;cursor:hand;font-family:Verdana,Geneva,sans-serif;font-size:x-small; }

.commonspotmenu { padding-top:7px;padding-left:0;padding-bottom:7px;text-align:left;position:absolute;z-index:9999;background-color:#C6C6C6; }
.commonspotmenu a { background-color:#C6C6C6; }
.commonspotmenu a:link {  background-color:#C6C6C6; }
.commonspotmenu a:visited { background-color:#C6C6C6; }
.commonspotmenu a:hover { background-color:#C6C6C6; }
.commonspotmenu img { display:inline;border-style:none; }
.commonspotIcon {display:inline;border-style:none; }
.commonspotmenu hr { text-align: center; color:#808080; size: 1; width: 90%; text-shadow: none; } 
/* Style for the highlightDynamicElments URL parameter */
.cs_sDebug_border { 
	border-bottom: 1px solid Yellow;
	border-top: 1px solid Yellow;
	border-left: 1px solid Yellow;
	border-right: 1px solid Yellow;
	padding: 8px; }



