
<%= check_box_tag "profile[tag_ids][]", tag.id ,@profile.tags.include?(tag) %>
<!-- %= tag.name.capitalize() %--> 
<%unless tag.description.nil? %>
<%=  tag.description.capitalize() %>
<% end %>
<% if (! tag.children_count.nil? ) %>
<TABLE border=1><TR>
  <% tag.children.each do |ctag| %><TD>
    <%= render :partial => 'tags', :locals => { :tag => ctag  } %>
   </TD>
   <% end %> 
</TR></TABLE>
<% end %>
