<h1>Editing profile</h1>

<%= render :partial => 'form' %>
<!-- %=
  javascript_tag "alert('All is good')", :defer => 'defer'
%-->

<%=
link_to_function("Show me more", nil, :id => "more_link") do |page|
# page[:details].visual_effect  :toggle_blind
page[:more_link].replace_html "Show me less"
end
%>


<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
