<h1><%= h @profile.name %></h1>
<%= @profile.description %>|
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<UL>
<% if !@profile.tags.nil? %>
	<% @profile.tags.each { |t| %>
    <LI><%= link_to t.name , t %></LI>
	<% } %>
<% end %>
</UL>
