<html>
<head>
<title> How it works </title>
</head>
<body>
<h3>What we do</h3>
We help individuals or a group of people plan a vacation so that everyone can decide together what they want to do.
<h3>How it works</h3>
You and your group set up an outing and tell us what each of you would like to do on this trip and we suggest a place which has most if not all of the things you want to do.
<h3>Tell us what you want to do </h3>
First you sign up for an account, then you customize a profile,
which tells us a little about what you want to see or do on a trip.
<p>
You can select interests such as outdoors activities, zoos or museums, or requirements such as handicap accessibility or a mode of transportation. If you have other requirements, please let us know and we will do our best to include it into our preferences.
<p>
You can have as many profiles as you want for each kind of traveling that you do, such as 'museum tour' or 'epic adventure' or 'family vacation'
<p>
<h3>Tell us where and/or when you want to go</h3>
Then you can create a trip and select a profile.
<h3>Tell us who else is going</h3>
You can invite your friends to join your trip.
<h3>Participant can add input</h3>
Each invitee can sign up, create and attach a profile to let the organizer know what they want to do on this trip.
<h3>We find areas that are interesting to your group</h3>
We will take all the profiles from all the participants in the trip and product a list of suggestions of areas that has the most of what you want to do.
<p>
At any point, the creator of a trip can ask the participants to vote on a location.
The creator of the trip will ultimately decide where the trip will go.

</body>
</html>
